absl-py==0.11.0
appdirs==1.4.4
astroid==2.4.2
atari-py==0.2.6
backcall==0.2.0
black==20.8b1
bsuite==0.3.4
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
configparser==5.0.1
cycler==0.10.0
decorator==4.4.2
descartes==1.1.0
dm-env==1.3
dm-tree==0.1.5
docker-pycreds==0.4.0
dqn-jax==0.0.1
flatbuffers==1.12
frozendict==1.2
future==0.18.2
gitdb==4.0.5
gitpython==3.1.11
gym==0.17.3
idna==2.10
imageio==2.9.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.19.0
isort==5.6.4
jax==0.2.6
jaxlib==0.1.57
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.7.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.3.3
mccabe==0.6.1
mizani==0.7.2
mypy-extensions==0.4.3
networkx==2.5
numpy==1.19.4
opencv-python==4.4.0.46
opt-einsum==3.3.0
palettable==3.3.0
pandas==1.1.4
parso==0.7.0
pathspec==0.8.1
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.0.1
pip==20.2.4
plotnine==0.7.1
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.3
ptyprocess==0.6.0
pyglet==1.5.0
pygments==2.7.2
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
pywavelets==1.1.1
pyyaml==5.3.1
pyzmq==19.0.2
regex==2020.11.13
requests==2.25.0
scikit-image==0.17.2
scipy==1.5.4
sentry-sdk==0.19.4
setuptools==50.3.1.post20201107
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
statsmodels==0.12.1
subprocess32==3.5.4
termcolor==1.1.0
tifffile==2020.11.18
toml==0.10.2
tornado==6.0.4
traitlets==5.0.5
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
wandb==0.10.11
watchdog==0.10.4
wcwidth==0.2.5
wheel==0.35.1
wrapt==1.12.1